<link rel="stylesheet" href="detalle-payment.component.css">
<h3>Detalles del Payment</h3>
<div>
    <div>
        <label><b>ID : </b>{{payment.id}}</label>
    </div>
    <div>
        <label><b>paymentDate : </b>{{payment.paymentDate}}</label>
    </div>
    <div>
        <label><b>amountPaid : </b>{{payment.amountPaid}}</label>
    </div>
    <div>
        <label><b>paymentMethod : </b>{{payment.paymentMethod}}</label>
    </div>
    <div class="text-center">
        <label class="client-text">Datos del cliente:</label>
      </div>
      
    <div>
        <label><b>Cliente Id : </b>{{payment.cliente.id}}</label>
    </div>
    <div>
        <label><b>Nombre: </b>{{payment.cliente.nombre}}</label>
    </div>
    <div>
        <label><b>Dirección: </b>{{payment.cliente.direccion}}</label>
    </div>
    <div>
        <label><b>Telefono: </b>{{payment.cliente.telefono}}</label>
    </div>
    <div>
        <label><b>Correo: </b>{{payment.cliente.correo}}</label>
    </div>
</div>
<!-- Botón grande y centrado -->
<button (click)="goBack()" class="btn btn-info btn-lg d-block mx-auto">Regresar</button>
