<br>
<h3>Lista de Pagos</h3>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Payment Date</th>
            <th>Amount Paid</th>
            <th>Payment Method</th>
            <th>Client ID</th>
            <th>Client Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let payment of payments">
            <td>{{ payment.id }}</td>
            <td>{{ payment.paymentDate }}</td>
            <td>{{ payment.amountPaid }}</td>
            <td>{{ payment.paymentMethod }}</td>
            <td>{{ payment.cliente.id }}</td> <!-- Actualiza aquí -->
            <td>{{ payment.cliente.nombre }}</td> <!-- Actualiza aquí -->
            <td>
                <button (click)="actualizarpayment(payment.id)" class="btn btn-info">Update</button>
                <button (click)="eliminarPayment(payment.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
                <button (click)="verDetallesPayment(payment.id)" class="btn btn-primary" style="margin-left: 10px">Details</button>
            </td>
        </tr>
    </tbody>
</table>
